@if (isLoading()) {
  <app-loader />
}

<app-toast />

<!-- Banner -->
<div class="page-title-area two three">
  <app-banner>
    <app-banner-detail>
      <div class="left two" ngProjectAs="left-content">
        <img [src]="user().avatarUrl" alt="Details" />
        <h2>{{ user().fullName }}</h2>
        <ul>
          <li>
            <i class="bx bx-box"></i>
            {{ user().email }}
          </li>
          <li>
            <i class="bx bx-phone-call"></i>
            <a [href]="user().phoneNumber">+{{ user().phoneNumber }}</a>
          </li>
        </ul>
      </div>
      <div class="right" ngProjectAs="right-content">
        <app-button-icon
          icon="bx bx-plus"
          [title]="'applicant.assign-now' | translate"
          (clickBtn)="assignJob(user().id)"
        />
        <ul>
          <li>
            <a href="#">
              <i class="bx bx-heart"></i>
              {{ 'job-detail.save' | translate }}
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-share-alt"></i>
              {{ 'job-detail.share' | translate }}
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bxs-report"></i>
              {{ 'job-detail.report' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </app-banner-detail>
  </app-banner>
</div>
<!-- End Banner -->

<!-- Candidate Details -->
<div class="person-details-area ptb-100">
  <app-grid-layout>
    <div class="details-item" ngProjectAs="leftContainer">
      <div class="profile">
        <h3>{{ 'applicant.my-profile' | translate }}</h3>
        <p>{{ user().description }}</p>
      </div>

      <h3>{{ 'applicant.evaluation' | translate }}</h3>

      <div class="client">
        <img
          src="assets/imgs/candidate/candidate-details-client1.png"
          alt="Candidate Details"
        />
        <h3>Devit Killer</h3>
        <span>January 12, 2024</span>
        <p>
          Software hack from an initial feasibility study, continuing through l
          implna business you have to be But we know there's a better
        </p>
        <ul>
          <li>
            <span>05</span>
          </li>
          <li>
            <i class="bx bxs-star checked"></i>
          </li>
          <li>
            <i class="bx bxs-star checked"></i>
          </li>
          <li>
            <i class="bx bxs-star checked"></i>
          </li>
          <li>
            <i class="bx bxs-star checked"></i>
          </li>
          <li>
            <i class="bx bxs-star checked"></i>
          </li>
        </ul>
      </div>
      <div class="review">
        <h3>{{ 'applicant.add-review' | translate }}</h3>
        <span>{{ 'applicant.review-msg' | translate }}</span>
        <ul>
          <li>
            <i class="bx bxs-star checked"></i>
          </li>
          <li>
            <i class="bx bxs-star checked"></i>
          </li>
          <li>
            <i class="bx bxs-star checked"></i>
          </li>
          <li>
            <i class="bx bxs-star checked"></i>
          </li>
          <li>
            <i class="bx bxs-star checked"></i>
          </li>
        </ul>
        <form>
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck59"
            />
            <label class="form-check-label" for="exampleCheck59">{{
              'applicant.review-option' | translate
            }}</label>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <i class="bx bx-user"></i>
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="'applicant.name' | translate"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <i class="bx bx-mail-send"></i>
                <input type="email" class="form-control" placeholder="Email" />
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <i class="bx bx-mail-send"></i>
                <textarea
                  id="your-message"
                  rows="10"
                  class="form-control"
                  [placeholder]="'applicant.write-msg' | translate"
                ></textarea>
              </div>
            </div>
            <div class="col-lg-12">
              <button type="submit" class="btn">
                {{ 'applicant.submit' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="widget-area" ngProjectAs="rightContainer">
      <div class="information widget-item">
        <h3>{{ 'applicant.user-overview' | translate }}</h3>
        <ul>
          <li>
            <img src="assets/imgs/job-details-icon.png" alt="Details" />
            <h4>{{ 'applicant.education' | translate }}</h4>
            <span>{{ user().educationHistory[0] }}</span>
          </li>
          <li>
            <img src="assets/imgs/job-details-icon.png" alt="Details" />
            <h4>{{ 'applicant.industry' | translate }}</h4>
            <span>{{ user().majorIndustry.industryName }}</span>
          </li>
          <li>
            <img src="assets/imgs/job-details-icon.png" alt="Details" />
            <h4>{{ 'applicant.category' | translate }}</h4>
            <span>{{ user().majorCategory.categoryName }}</span>
          </li>
          <li>
            <img src="assets/imgs/job-details-icon.png" alt="Details" />
            <h4>{{ 'applicant.location' | translate }}</h4>
            <span>{{ user().ward.fullLocation }}</span>
          </li>
        </ul>
      </div>
    </div>
  </app-grid-layout>
</div>
<!-- End Candidate Details -->
