<div class="client">
  <img src="assets/img/candidate-details-client1.png" alt="Candidate Details">
  <h3>Devit Killer</h3>
  <span>January 12, 2024</span>
  <p>Software hack from an initial feasibility study, continuing through l implna business you have to be But we know there's a better</p>
  <ul>
      <li>
          <span>05</span>
      </li>
      <li>
          <i class='bx bxs-star checked'></i>
      </li>
      <li>
          <i class='bx bxs-star checked'></i>
      </li>
      <li>
          <i class='bx bxs-star checked'></i>
      </li>
      <li>
          <i class='bx bxs-star checked'></i>
      </li>
      <li>
          <i class='bx bxs-star checked'></i>
      </li>
  </ul>
</div>