@if (isLoading()) {
  <app-loader />
}

<app-toast />

<!-- Page Title -->
<app-banner>
  <app-breadcrumb [title]="'banner.applicants' | translate" />
</app-banner>
<!-- End Page Title -->

<!-- Filter -->
<div class="job-filter-area pt-100">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSearch()">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [placeholder]="'applicant-list.filter.name' | translate"
              formControlName="search"
            />
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <select style="display: none" formControlName="industryId">
              @for (industry of industries(); track industry.id) {
                <option [value]="industry.id">{{ industry }}</option>
              }
            </select>
            <app-nice-select
              [listData]="industriesName()"
              [title]="'common.nice-select.filter.industry' | translate"
              [isFilter]="true"
              (valueChange)="
                handleSelectChange('industryId', $event, industries())
              "
            />
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <select style="display: none" formControlName="categoryId">
              @for (category of categories(); track category.id) {
                <option [value]="category.id">{{ category }}</option>
              }
            </select>
            <app-nice-select
              [listData]="categoriesName()"
              [title]="'common.nice-select.filter.category' | translate"
              [isFilter]="true"
              (valueChange)="
                handleSelectChange('categoryId', $event, categories())
              "
            />
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <button type="submit" class="btn cmn-btn" (click)="onSearch()">
            {{ 'common.buttons.search' | translate }}
            <i class="bx bx-plus"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- End Filter -->

<!-- Showing -->
<div class="job-showing-area">
  <div class="container">
    <div class="showing">
      <div class="row">
        <div class="col-sm-6 col-lg-6">
          <div class="left">
            <div class="form-group">
              <select style="display: none">
                <option>All</option>
                <option>A - Z</option>
                <option>Z - A</option>
              </select>
              <div class="nice-select">
                <span class="current">All</span>
                <div class="nice-select-search-box" appStopPropagation>
                  <input
                    type="text"
                    class="nice-select-search"
                    placeholder="Search..."
                  />
                </div>
                <ul class="list">
                  <li data-value="All" class="option selected">All</li>
                  <li data-value="A - Z" class="option">A - Z</li>
                  <li data-value="Z - A" class="option">Z - A</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6">
          <div class="right">
            <h4 style="font-size: 16px">
              {{ 'jobs.showing' | translate }} {{ start() }} - {{ end() }}
              {{ 'jobs.of' | translate }} {{ totalApplicants() }}
              {{ 'jobs.results' | translate }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Showing -->

<!-- Candidate -->
<div class="candidate-area pb-100">
  <div class="container">
    <div class="row">
      @for (applicant of applicants(); track applicant.userId) {
        <div class="col-lg-6" app-applicant-card [applicant]="applicant"></div>
      }
    </div>

    <!-- Pagination -->
    <app-pagination
      [currentPage]="pageIndex()"
      [totalJobs]="totalApplicants()"
      [limit]="pageSize()"
    />
  </div>
</div>
<!-- End Candidate -->
