<!-- Page Title -->
<app-banner>
    <app-breadcrumb [title]="'banner.jobs' | translate"/>
</app-banner>
<!-- End Page Title -->

<!-- Jobs -->
<div class="job-area-list ptb-100">
    <app-grid-layout>
        <div ngProjectAs="leftContainer">
            <ul class="job-list-item align-items-center">
                <li>
                    <a href="#">{{ 'jobs.results' | translate }} <span>(17)</span></a>
                    <a class="rss" href="#">
                        <i class='bx bx-rss'></i>
                        RSS Feed
                    </a>
                </li>
                <li>
                    <span class="sort">{{ 'jobs.sort-by' | translate }}</span>
                    <form>
                        <div class="form-group">
                            <select style="display: none;">
                                <option>Title</option>
                                <option>Another option</option>
                                <option>A option</option>
                                <option>Potato</option>
                            </select>
                            <div class="nice-select" tabindex="0"><span class="current">Title</span><ul class="list"><li data-value="Title" class="option selected">Title</li><li data-value="Another option" class="option">Another option</li><li data-value="A option" class="option">A option</li><li data-value="Potato" class="option">Potato</li></ul></div>
                        </div>
                    </form>	
                </li>
            </ul>
            @for (job of dummyJobs; track job.title) {
                <app-job-post [job]="job" />
            }
            <div class="pagination-area">
                <ul>
                    <li>
                        <a href="#">Prev</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
        <div ngProjectAs="rightContainer">
            <div class="job-list-right">
                <!-- ? Job Alert -->
                <app-job-alert />

                <!-- ? Job searching -->
                <div class="job-list-all">
                    <form>
                        <div class="search">
                            <!-- ? Title -->
                            <h3>{{ 'jobs.find-a-job' | translate }}</h3>
                                <input type="text" class="form-control" [placeholder]="'jobs.keyword' | translate">
                                <button type="submit" class="btn">
                                    <i class="flaticon-send"></i>
                                </button>
                            <!-- ? Category -->
                            <h3>{{ 'jobs.category' | translate }}</h3>
                            <ul class="job-cmn-cat">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Digital & Creative (5)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            Sales & Marketing (6)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                        <label class="form-check-label" for="defaultCheck3">
                                            Marketing & PR (8)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                                        <label class="form-check-label" for="defaultCheck4">
                                            IT Contractor (2)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                        <label class="form-check-label" for="defaultCheck5">
                                            Accountancy (1)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                                        <label class="form-check-label" for="defaultCheck6">
                                            Retail (9)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                                        <label class="form-check-label" for="defaultCheck7">
                                            Media (3)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                                        <label class="form-check-label" for="defaultCheck8">
                                            SEO (2)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                                        <label class="form-check-label" for="defaultCheck9">
                                            Freelance (8)
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- ? Location -->
                        <div class="location-list cmn-padding">
                            <h3>{{ 'jobs.location' | translate }}</h3>
                            <ul class="job-cmn-cat">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                        <label class="form-check-label" for="defaultCheck10">
                                            New York (8)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                                        <label class="form-check-label" for="defaultCheck11">
                                            Los Angeles (4)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
                                        <label class="form-check-label" for="defaultCheck12">
                                            London (5)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
                                        <label class="form-check-label" for="defaultCheck13">
                                            Canada (1)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
                                        <label class="form-check-label" for="defaultCheck14">
                                            France (9)
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
                                        <label class="form-check-label" for="defaultCheck15">
                                            Italy (2)
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="salary cmn-padding">
                            <h3>{{ 'jobs.fee' | translate }}</h3>
                            <div class="job-cmn-cat flex-divide">
                                <ul class="left">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck24">
                                            <label class="form-check-label" for="defaultCheck24">
                                                Hourly
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck25">
                                            <label class="form-check-label" for="defaultCheck25">
                                                Daily
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="right">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck26">
                                            <label class="form-check-label" for="defaultCheck26">
                                                Weekly
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck26">
                                            <label class="form-check-label" for="defaultCheck26">
                                                Monthly
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-divide">
                                <div class="left">
                                    <input type="text" class="form-control fee-control" placeholder="From">
                                </div>
                                <div class="right">
                                    <input type="text" class="form-control fee-control" placeholder="To">
                                </div>
                            </div>
                        </div>
                        <div class="date cmn-padding">
                            <h3>{{ 'jobs.date-posted' | translate }}</h3>
                            <div class="job-cmn-cat flex-divide">
                                <ul class="left">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck28">
                                            <label class="form-check-label" for="defaultCheck28">
                                                Last 30 Days
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck29">
                                            <label class="form-check-label" for="defaultCheck29">
                                                Last 14 Days
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck30">
                                            <label class="form-check-label" for="defaultCheck30">
                                                Last 7 Days
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck31">
                                            <label class="form-check-label" for="defaultCheck31">
                                                All
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="right">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck32">
                                            <label class="form-check-label" for="defaultCheck32">
                                                Last 24 Hours
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck33">
                                            <label class="form-check-label" for="defaultCheck33">
                                                Last 12 Hours
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck34">
                                            <label class="form-check-label" for="defaultCheck34">
                                                Last Hour
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="industry cmn-padding">
                            <h3>{{ 'jobs.industry' | translate }}</h3>
                            <div class="job-cmn-cat flex-divide">
                                <ul class="left">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck42">
                                            <label class="form-check-label" for="defaultCheck42">
                                                Banking (4)
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck43">
                                            <label class="form-check-label" for="defaultCheck43">
                                                HTML & CSS (1)
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck44">
                                            <label class="form-check-label" for="defaultCheck44">
                                                Finance (1)
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="right">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck45">
                                            <label class="form-check-label" for="defaultCheck45">
                                                SEO (7)
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck46">
                                            <label class="form-check-label" for="defaultCheck46">
                                                Development (4)
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck47">
                                            <label class="form-check-label" for="defaultCheck47">
                                                Last Hour
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="level">
                            <button type="submit" class="btn">{{ 'jobs.filter-now' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </app-grid-layout>  
</div>
<!-- End Jobs -->