.select-empty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.select-empty-text {
  margin-bottom: 0;
}

.current {
  display: -webkit-box;
  width: 250px;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}