.select-empty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.select-empty-text {
  margin-bottom: 0;
}

.current {
  display: -webkit-box;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.nice-select {
  height: 50px !important;
  line-height: 50px !important;
}

.nice-select,
.list {
  width: 100%;
}

.nice-select.invalid {
  border: 1px solid #fe4a55 !important;
  margin-bottom: 60px !important;
  background-color: rgba(254, 74, 85, 0.2) !important;
}

.error-msg {
  position: absolute;
  top: 45px;
  left: 0;
  font-size: 15px;
  color: #fe4a55;
}
