<!-- Banner -->
<div class="page-title-area two three">
    <app-banner>
        <app-banner-detail>
            <div class="left two" ngProjectAs="left-content">
                <img src="assets/imgs/candidate/candidate1.jpg" alt="Details">
                <h2>Markin M. Doland</h2>
                <ul>
                    <li>
                        <i class="bx bx-box"></i>
                        UX/UI Designer
                    </li>
                    <li>
                        <i class="bx bx-phone-call"></i>
                        <a href="+567908234875">+567 908 234 875</a>
                    </li>
                </ul>
            </div>
            <div class="right" ngProjectAs="right-content">
                <app-button-icon [title]="'assignee.assign-now' | translate" icon="bx bx-plus"/>
                <ul>
                  <li>
                      <a href="#">
                          <i class='bx bx-heart'></i>
                          {{ 'job-detail.save' | translate }}
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class='bx bx-share-alt'></i>
                          {{ 'job-detail.share' | translate }}
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class='bx bxs-report'></i>
                          {{ 'job-detail.report' | translate }}
                      </a>
                  </li>
                </ul>
            </div>
        </app-banner-detail>
    </app-banner>
</div>
<!-- End Banner -->

<!-- Candidate Details -->
<div class="person-details-area ptb-100">
    <app-grid-layout>
        <div class="details-item" ngProjectAs="leftContainer">
            <div class="profile">
                <h3>{{ 'assignee.my-profile' | translate }}</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search.</p>
            </div>
            <div class="work bottom-item">
                <h3>{{ 'assignee.work-exp' | translate }}</h3>
                <ul>
                    <li>
                        <img src="assets/imgs/title-img.png" alt="Icon">
                        Path Technologies, Washington, DC, USA
                    </li>
                    <li>
                        <span>04/2011 - 01/2012</span>
                    </li>
                </ul>
                <h4>Senior Software Engineer</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="work bottom-item">
                <ul>
                    <li>
                        <img src="assets/imgs/title-img.png" alt="Icon">
                        University Of Maryland
                    </li>
                    <li>
                        <span>03/2014 - 03/2016</span>
                    </li>
                </ul>
                <h4>Professor</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="work bottom-item bottom-item-last">
                <ul>
                    <li>
                        <img src="assets/imgs/title-img.png" alt="Icon">
                        3s Software Bangladesh
                    </li>
                    <li>
                        <span>02/2015 - 02/2018</span>
                    </li>
                </ul>
                <h4>John Hopkins, Bangladesh</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="work bottom-item">
                <h3>Education</h3>
                <ul>
                    <li>
                        <img src="assets/imgs/title-img.png" alt="Icon">
                        Path Technologies, Washington, DC, USA
                    </li>
                </ul>
                <h4>MBA (2018-2019)</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="work bottom-item">
                <ul>
                    <li>
                        <img src="assets/imgs/title-img.png" alt="Icon">
                        School of Design at University of Michigan
                    </li>
                </ul>
                <h4>BBA (2010-2014)</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="work bottom-item bottom-item-last">
                <ul>
                    <li>
                        <img src="assets/imgs/title-img.png" alt="Icon">
                        Design at Institute of Technology & Marketing
                    </li>
                </ul>
                <h4>Section UX & UI design (2014 - 2018)</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="skills">
                <h3>{{ 'assignee.skill' | translate }}</h3>

                <div class="skill-wrap">
                    <div class="skill">
                        <h3>HTML/CSS</h3>
                        <div class="skill-bar skill1 animate__slideInLeft animate__animated">
                            <span class="skill-count1">56%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <h3>WORDPRESS</h3>
                        <div class="skill-bar skill2 animate__slideInLeft animate__animated">
                            <span class="skill-count2">80%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <h3>PHOTOSHOP</h3>
                        <div class="skill-bar skill3 animate__slideInLeft animate__animated">
                            <span class="skill-count3">90%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <h3>PHP</h3>
                        <div class="skill-bar skill4 animate__slideInLeft animate__animated">
                            <span class="skill-count4">70%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <h3>TEAM MANAGEMENT</h3>
                        <div class="skill-bar skill5 animate__slideInLeft animate__animated">
                            <span class="skill-count5">80%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <h3>SERVICE OF QUALITY</h3>
                        <div class="skill-bar skill6 animate__slideInLeft animate__animated">
                            <span class="skill-count6">90%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio">
                <h3>{{ 'assignee.portfolio' | translate }}</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="img">
                            <img src="assets/imgs/user/portfolio1.jpg" alt="Portfolio">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="img">
                            <img src="assets/imgs/user/portfolio2.jpg" alt="Portfolio">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="img">
                            <img src="assets/imgs/user/portfolio3.jpg" alt="Portfolio">
                        </div>
                    </div>
                </div>
            </div>
            <div class="client">
                <img src="assets/imgs/candidate/candidate-details-client1.png" alt="Candidate Details">
                <h3>Devit Killer</h3>
                <span>January 12, 2024</span>
                <p>Software hack from an initial feasibility study, continuing through l implna business you have to be But we know there's a better</p>
                <ul>
                    <li>
                        <span>05</span>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                </ul>
            </div>
            <div class="review">
                <h3>{{ 'assignee.add-review' | translate }}</h3>
                <span>{{ 'assignee.review-msg' | translate }}</span>
                <ul>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                </ul>
                <form>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck59">
                        <label class="form-check-label" for="exampleCheck59">{{ 'assignee.review-option' | translate }}</label>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <i class='bx bx-user'></i>
                                <input type="text" class="form-control" [placeholder]="'assignee.name' | translate">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <i class='bx bx-mail-send'></i>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <i class='bx bx-mail-send'></i>
                                <textarea id="your-message" rows="10" class="form-control" [placeholder]="'assignee.write-msg' | translate"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn">{{ 'assignee.submit' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="widget-area" ngProjectAs="rightContainer">
            <div class="information widget-item">
                <h3>{{'assignee.job-overview' | translate }}</h3>
                <ul>
                    <li>
                        <img src="assets/imgs/job-details-icon.png" alt="Details">
                        <h4>{{'jobs.salary' | translate }}</h4>
                        <span>$1,500 - $2,000</span>
                    </li>
                    <li>
                        <img src="assets/imgs/job-details-icon.png" alt="Details">
                        <h4>{{'assignee.experience' | translate }}</h4>
                        <span>5 years</span>
                    </li>
                    <li>
                        <img src="assets/imgs/job-details-icon.png" alt="Details">
                        <h4>{{'assignee.age' | translate }}</h4>
                        <span>30-35</span>
                    </li>
                    <li>
                        <img src="assets/imgs/job-details-icon.png" alt="Details">
                        <h4>{{'assignee.gender' | translate }}</h4>
                        <span>Both</span>
                    </li>
                    <li>
                        <img src="assets/imgs/job-details-icon.png" alt="Details">
                        <h4>{{'assignee.language' | translate }}</h4>
                        <span>Bangla, English, Arbi, Spanish</span>
                    </li>
                    <li>
                        <img src="assets/imgs/job-details-icon.png" alt="Details">
                        <h4>{{'assignee.qualification' | translate }}</h4>
                        <span>Certificate, Associate Degree</span>
                    </li>
                </ul>
            </div>
            <div class="download widget-item">
                <a href="#">{{'assignee.assign-now' | translate }}</a>
            </div>
            <div class="owner">
                <div class="top">
                    <img src="assets/imgs/job/job4.png" alt="Owner">
                    <h3>{{'job-detail.owner-info' | translate }}</h3>
                    <i class="flaticon-send"></i>
                    <span>Los Angeles, CA, USA</span>
                </div>
                <div class="information widget-item">
                    <ul>
                        <li>
                            <img src="assets/imgs/job-details-icon.png" alt="Details">
                            <h4>{{'jobs.phone' | translate }}</h4>
                            <a href="tel:+34561232349987">+3456 123 234 9987</a>
                        </li>
                        <li>
                            <img src="assets/imgs/job-details-icon.png" alt="Details">
                            <h4>Email</h4>
                            <a href="/cdn-cgi/l/email-protection#056d6069696a456f6066716a2b666a68"><span class="__cf_email__" data-cfemail="d7bfb2bbbbb897bdb2b4a3b8f9b4b8ba">[email&#160;protected]</span></a>
                        </li>
                        <li>
                            <img src="assets/imgs/job-details-icon.png" alt="Details">
                            <h4>{{'jobs.location' | translate }}</h4>
                            <a href="#" target="_blank">www.jectothemes.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="similar-candidates">
                <h4>Similar Candidates</h4>
            </div>
            <div class="candidate-item">
                <div class="left">
                    <h3>
                        <a href="candidate-details.html">Arielle Terry</a>
                    </h3>
                    <span>Web Developer</span>
                    <p>I’m IRanin dolor sit amet conscu adiing elitsed eusmod tempor</p>
                    <ul>
                        <li>Php</li>
                        <li>jQuery</li>
                        <li>WordPress</li>
                        <li>CSS3</li>
                        <li>HTML5</li>
                    </ul>
                    <div class="cmn-link">
                        <a href="single-resume.html">
                            <i class="flaticon-right-arrow one"></i>
                            View Resume
                            <i class="flaticon-right-arrow two"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="candidate-item">
                <div class="left">
                    <h3>
                        <a href="candidate-details.html">Alexander Max</a>
                    </h3>
                    <span>Senior UX/UI Designer</span>
                    <p>I’m Max dolor sit amet conscu adiing elitsed eusmod tempor</p>
                    <ul>
                        <li>CSS</li>
                        <li>Creative</li>
                        <li>Photoshop</li>
                        <li>Illustrator</li>
                        <li>HTML5</li>
                    </ul>
                    <div class="cmn-link">
                        <a href="single-resume.html">
                            <i class="flaticon-right-arrow one"></i>
                            View Resume
                            <i class="flaticon-right-arrow two"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </app-grid-layout>
</div>
<!-- End Candidate Details -->