<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a routerLink="my-profile" routerLinkActive="active" class="nav-link" >
        <i class="bx bx-user"></i>
        My Profile
    </a>
    <a routerLink="applied-jobs" routerLinkActive="active" class="nav-link" >
        <div class="profile-list">
            <i class="bx bxs-inbox"></i>
            Applied Jobs
        </div>
    </a>
    <a routerLink="posted-jobs" routerLinkActive="active" class="nav-link">
        <div class="profile-list">
            <i class="bx bx-note"></i>
            Posted Jobs
        </div>
    </a>
    <a href="/">
        <div class="profile-list">
            <i class="bx bx-log-out"></i>
            Logout
        </div>
    </a>
</div>