<div class="pagination-area">
    <ul>
        <li>
            <button
            class="pagination-button"
            [disabled]="currentPage === 1"
            (click)="changePage(currentPage - 1)"
            >
            Prev
            </button>
        </li>
        @for (page of visiblePages; track page) {
            <li>
                <button
                class="pagination-button"
                [class.active]="currentPage === page"
                (click)="changePage(page)"
                >
                {{ page }}
                </button>
            </li>
        }
        <li>
            <button
            class="pagination-button"
            [disabled]="currentPage === totalPages()"
            (click)="changePage(currentPage + 1)"
            >
            Next
            </button>
        </li>
    </ul>
</div>