<div class="candidate-item two">
  <div class="left">
    <h3>
      <a
        [routerLink]="[
          '/applicants',
          applicant().jobPostId,
          applicant().userId,
        ]"
      >
        {{ applicant().fullName }}
      </a>
    </h3>
    <ul class="experience">
      <li>
        Email: <span>{{ applicant().email }}</span>
      </li>
      <li>
        Apply Date:
        <span>{{ applicant().appliedAt | date: 'yyyy-MM-dd' }}</span>
      </li>
    </ul>
    <div class="cmn-link">
      <a
        [routerLink]="[
          '/applicants',
          applicant().jobPostId,
          applicant().userId,
        ]"
      >
        <i class="flaticon-right-arrow one"></i>
        View Resume
        <i class="flaticon-right-arrow two"></i>
      </a>
    </div>
  </div>
  <img [src]="applicant().avatarUrl" alt="Candidate" />
</div>
