<div class="chat-container">
  <!-- Open chat button -->
  <button class="chat-button" (click)="toggleChat()">
    <img src="assets/imgs/icon-chat.svg" alt="Chat with us" class="icon-chat" />
  </button>

  <!-- Chat Box -->
  @if (isChatOpen()) {
    <div class="chat-box" [@fadeInOut]>
      <div class="chat-header">
        <img src="assets/imgs/logo-chat.png" class="avatar" />
        <div class="chat-info">
          <div class="chat-title">TimeSwap Bot</div>
          <div class="chat-status">🟢 Online</div>
        </div>
        <button class="close-button" (click)="toggleChat()">✖</button>
      </div>

      <!-- Chat Bubbles -->
      <div class="chat-body" #chatBody>
        <div
          *ngFor="let msg of messages()"
          class="message"
          [ngClass]="msg.sender"
        >
          <img
            *ngIf="msg.sender === 'bot'"
            src="assets/imgs/logo-chat.png"
            class="msg-avatar"
          />
          <div class="text">{{ msg.text }}</div>
        </div>
      </div>

      <!-- Input chat -->
      <form
        class="chat-footer"
        [formGroup]="chatForm"
        (ngSubmit)="sendMessage()"
      >
        <input
          type="text"
          formControlName="message"
          placeholder="Write a message..."
        />
        <button type="submit" class="send">
          <img
            src="assets/imgs/icon-send.svg"
            alt="Send Message"
            class="icon-send"
          />
        </button>
      </form>
    </div>
  }
</div>
