<div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <div class="profile-content">
        <form>
            <div class="profile-content-inner">
                <h2>{{ 'profile.form.info.heading' | translate }}</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.info.name' | translate }}</label>
                            <input type="text" class="form-control" placeholder="Tom Henry">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.info.email' | translate }}</label>
                            <input type="email" class="form-control" placeholder="hello@jecto.com">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.info.phone' | translate }}</label>
                            <input type="text" class="form-control" placeholder="+123 - 456 - 789">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.info.dob' | translate }}</label>
                            <input type="text" class="form-control" placeholder="01/01/1995">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.info.job' | translate }}</label>
                            <input type="text" class="form-control" placeholder="Web Developer">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.info.position' | translate }}</label>
                            <input type="text" class="form-control" placeholder="Team Leader">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.info.salary' | translate }}</label>
                            <input type="text" class="form-control" placeholder="$1500/per month">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.info.avatar' | translate }}</label>
                            <input class="form-control" type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-content-inner">
                <h2>{{ 'profile.form.education.heading' | translate }}</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.education.title' | translate }}</label>
                            <input type="text" class="form-control" placeholder="Under Graduate">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.education.degree' | translate }}</label>
                            <input type="text" class="form-control" placeholder="BSC in Computer Science">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.education.institute' | translate }}</label>
                            <input type="text" class="form-control" placeholder="Jecto University &amp; Technology, UK">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>{{ 'profile.form.education.year' | translate }}</label>
                            <input type="text" class="form-control" placeholder="2015 - 2024">
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-content-inner">
                <h2>{{ 'profile.form.socials.heading' | translate }}</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Facebook:</label>
                            <input type="text" class="form-control" placeholder="https://www.facebook.com">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Twitter:</label>
                            <input type="text" class="form-control" placeholder="https://www.twitter.com">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Instagram:</label>
                            <input type="text" class="form-control" placeholder="https://www.instagram.com">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Linkedin:</label>
                            <input type="text" class="form-control" placeholder="https://www.linkedin.com">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn dashboard-btn">{{ 'profile.form.button' | translate }}</button>
        </form>
    </div>
</div>