<app-toast />

<!-- Banner -->
<div class="banner-area">
  <div class="banner-shape">
    <img src="assets/imgs/home/banner/shape-bottom.png" alt="Shape" />
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="banner-content">
          <div class="d-table">
            <div class="d-table-cell">
              <h1>
                {{ 'home.banner.title' | translate }}
                <span>{{ 'home.banner.job' | translate }}</span>
                {{ 'home.banner.ready' | translate }}
              </h1>
              <p>
                {{ 'home.banner.description' | translate }}
              </p>
              <div class="banner-form-area">
                <form>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label>
                          <i class="bx bx-search"></i>
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          [placeholder]="
                            'home.banner.search.placeholder' | translate
                          "
                        />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <select style="display: none">
                          <option>
                            {{ 'home.banner.categories.all' | translate }}
                          </option>
                          <option>
                            {{ 'home.banner.categories.teaching' | translate }}
                          </option>
                          <option>
                            {{ 'home.banner.categories.it' | translate }}
                          </option>
                          <option>
                            {{ 'home.banner.categories.other' | translate }}
                          </option>
                        </select>
                        <app-nice-select [listData]="industriesSignal()" />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group two">
                        <label>
                          <i class="bx bx-location-plus"></i>
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          [placeholder]="
                            'home.banner.location.placeholder' | translate
                          "
                        />
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn">
                    {{ 'home.banner.search.button' | translate }}
                    <i class="bx bx-search"></i>
                  </button>
                </form>
              </div>
              <div class="banner-key">
                <ul>
                  <li>
                    <span>{{ 'home.banner.trending' | translate }}</span>
                  </li>
                  <li>
                    <a href="#">
                      {{ 'home.banner.keywords.teaching' | translate }},
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      {{ 'home.banner.keywords.it-support' | translate }},
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      {{ 'home.banner.keywords.programming' | translate }},
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      {{ 'home.banner.keywords.education' | translate }},
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      {{ 'home.banner.keywords.web-development' | translate }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="banner-img">
          <img src="assets/imgs/home/banner/banner-main.jpg" alt="Shape" />
          <img src="assets/imgs/home/banner/banner1.png" alt="Shape" />
          <img src="assets/imgs/home/banner/banner3.png" alt="Shape" />
          <img src="assets/imgs/home/banner/banner4.png" alt="Shape" />
          <img src="assets/imgs/home/banner/banner5.png" alt="Shape" />
          <img src="assets/imgs/home/banner/banner6.png" alt="Shape" />
          <img src="assets/imgs/home/banner/banner7.png" alt="Shape" />
          <img src="assets/imgs/home/banner/banner8.png" alt="Shape" />
          <img src="assets/imgs/home/banner/banner9.png" alt="Shape" />
          <img src="assets/imgs/home/banner/banner10.jpg" alt="Shape" />
          <img src="assets/imgs/home/banner/banner11.png" alt="Shape" />
          <img src="assets/imgs/home/banner/banner12.png" alt="Shape" />
          <img src="assets/imgs/home/banner/banner13.png" alt="Shape" />
          <div class="inner">
            <img src="assets/imgs/home/banner/banner2.png" alt="Shape" />
            <p>{{ 'home.banner.outsourcing' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Banner -->

<!-- Work -->
<section class="work-area pb-70">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">
        {{ 'home.pricing-plans.sub-heading' | translate }}
      </span>
      <h2>{{ 'home.pricing-plans.heading' | translate }}</h2>
    </div>
    <div class="row" style="padding: 0 130px">
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="top">
            <h3>{{ 'home.pricing-plans.basic' | translate }}</h3>
            <span></span>
          </div>
          <div class="middle">
            <h4>
              <span class="span-left"></span>
              {{ 0 | customCurrency: lang() }}/
              <span class="span-right">
                {{ 'home.pricing-plans.month' | translate }}
              </span>
            </h4>
          </div>
          <div class="end">
            <ul>
              <li>
                {{
                  'home.pricing-plans.benefit.unlimited-application-month'
                    | translate
                }}
              </li>
              <li>
                {{
                  'home.pricing-plans.benefit.basic.3-post-month' | translate
                }}
              </li>
              <li>
                <del>
                  {{
                    'home.pricing-plans.benefit.profile-priority' | translate
                  }}
                </del>
              </li>
              <li>
                <del>
                  {{
                    'home.pricing-plans.benefit.job-listing-priority'
                      | translate
                  }}
                </del>
              </li>
              <li>
                <del>
                  {{
                    'home.pricing-plans.benefit.earn-reward-application'
                      | translate
                  }}
                </del>
              </li>
              <li>
                <del>
                  {{
                    'home.pricing-plans.benefit.earn-reward-posting' | translate
                  }}
                </del>
              </li>
            </ul>
            <button class="cmn-btn disabled">
              {{ 'home.pricing-plans.get-started' | translate }}
              <i class="bx bx-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="top">
            <h3>{{ 'home.pricing-plans.standard' | translate }}</h3>
            <span></span>
          </div>
          <div class="middle">
            <h4>
              <span class="span-left"></span>
              {{ 199000 | customCurrency: lang() }}/
              <span class="span-right">
                {{ 'home.pricing-plans.month' | translate }}
              </span>
            </h4>
          </div>
          <div class="end">
            <ul>
              <li>
                {{
                  'home.pricing-plans.benefit.unlimited-application-month'
                    | translate
                }}
              </li>
              <li>
                {{
                  'home.pricing-plans.benefit.standard.10-post-month'
                    | translate
                }}
              </li>
              <li>
                {{ 'home.pricing-plans.benefit.profile-priority' | translate }}
              </li>
              <li>
                {{
                  'home.pricing-plans.benefit.job-listing-priority' | translate
                }}
              </li>
              <li>
                {{
                  'home.pricing-plans.benefit.earn-reward-application'
                    | translate
                }}
              </li>
              <li>
                {{
                  'home.pricing-plans.benefit.earn-reward-posting' | translate
                }}
              </li>
            </ul>
            <button
              [class.cmn-btn]="true"
              [class.disabled]="
                user()?.currentSubscription === 1 ||
                user()?.currentSubscription === 2
              "
              (click)="packageSelect(1)"
            >
              {{
                user()?.currentSubscription === 1
                  ? ('home.pricing-plans.current-package' | translate)
                  : ('home.pricing-plans.get-started' | translate)
              }}
              <i class="bx bx-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="pricing-item">
          <div class="top">
            <h3>{{ 'home.pricing-plans.premium' | translate }}</h3>
            <span></span>
          </div>
          <div class="middle">
            <h4>
              <span class="span-left"></span>
              {{ 299000 | customCurrency: lang() }}/
              <span class="span-right">
                {{ 'home.pricing-plans.month' | translate }}
              </span>
            </h4>
          </div>
          <div class="end">
            <ul>
              <li>
                {{
                  'home.pricing-plans.benefit.unlimited-application-month'
                    | translate
                }}
              </li>
              <li>
                {{
                  'home.pricing-plans.benefit.unlimited-post-month' | translate
                }}
              </li>
              <li>
                {{
                  'home.pricing-plans.benefit.premium.profile-priority-mix'
                    | translate
                }}
              </li>
              <li>
                {{
                  'home.pricing-plans.benefit.premium.job-listing-priority-mix'
                    | translate
                }}
              </li>
              <li>
                {{
                  'home.pricing-plans.benefit.earn-reward-application'
                    | translate
                }}
              </li>
              <li>
                {{
                  'home.pricing-plans.benefit.earn-reward-posting' | translate
                }}
              </li>
            </ul>
            <button
              [class.cmn-btn]="true"
              [class.disabled]="user()?.currentSubscription === 2"
              (click)="packageSelect(2)"
            >
              {{
                user()?.currentSubscription === 2
                  ? ('home.pricing-plans.current-package' | translate)
                  : ('home.pricing-plans.get-started' | translate)
              }}
              <i class="bx bx-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Work -->

<!-- Jobs -->
<section class="job-area pb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="section-title">
          <span class="sub-title">
            {{ 'home.jobs.sub-heading' | translate }}
          </span>
          <h2>{{ 'home.jobs.heading' | translate }}</h2>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="sorting-menu">
          <ul>
            <li class="filter" data-filter="all">
              {{ 'home.jobs.filter.all' | translate }}
            </li>
            <li class="filter" data-filter=".m">
              {{ 'home.jobs.filter.tech' | translate }}
            </li>
            <li class="filter" data-filter=".n">
              {{ 'home.jobs.filter.service' | translate }}
            </li>
            <li class="filter" data-filter=".o">
              {{ 'home.jobs.filter.tech-support' | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="container" class="row">
      <div class="col-sm-6 col-lg-12 mix n">
        <div class="job-item">
          <a href="job-details.html">
            <div class="feature-top-right">
              <span>Featured</span>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-8">
                <div class="job-left">
                  <img src="assets/imgs/job/job1.png" alt="Brand" />
                  <h3>Product Designer</h3>
                  <p>Digital Radio</p>
                  <ul>
                    <li>$500 - $1,000 /</li>
                    <li>month /</li>
                    <li>
                      <i class="flaticon-appointment"></i>
                      8 months ago
                    </li>
                    <li>
                      <i class="bx bx-location-plus"></i>
                      Seoul, South Korea
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="job-right">
                  <ul>
                    <li>
                      <i class="flaticon-customer"></i>
                      Full Time
                    </li>
                    <li>
                      <i class="flaticon-mortarboard"></i>
                      Master
                    </li>
                    <li>
                      <span>Add to bookmarks</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12 mix o">
        <div class="job-item">
          <a href="job-details.html">
            <div class="feature-top-right">
              <span>Featured</span>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-8">
                <div class="job-left">
                  <img src="assets/imgs/job/job2.png" alt="Brand" />
                  <h3>Construction Worker</h3>
                  <p>Digital Vine</p>
                  <ul>
                    <li>$600 - $2,000 /</li>
                    <li>month /</li>
                    <li>
                      <i class="flaticon-appointment"></i>
                      6 months ago
                    </li>
                    <li>
                      <i class="bx bx-location-plus"></i>
                      Kabul, Afghanistan
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="job-right">
                  <ul>
                    <li>
                      <i class="flaticon-customer"></i>
                      Part Time
                    </li>
                    <li>
                      <i class="flaticon-mortarboard"></i>
                      Master
                    </li>
                    <li>
                      <span>Add to bookmarks</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12 mix m">
        <div class="job-item">
          <a href="job-details.html">
            <div class="feature-top-right">
              <span>Featured</span>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-8">
                <div class="job-left">
                  <img src="assets/imgs/job/job3.png" alt="Brand" />
                  <h3>Sr. Shopify Developer</h3>
                  <p>Codex Info</p>
                  <ul>
                    <li>$400 - $1,500 /</li>
                    <li>month /</li>
                    <li>
                      <i class="flaticon-appointment"></i>
                      1 months ago
                    </li>
                    <li>
                      <i class="bx bx-location-plus"></i>
                      Buenos Aires, Argentina
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="job-right">
                  <ul>
                    <li>
                      <i class="flaticon-customer"></i>
                      Internship
                    </li>
                    <li>
                      <i class="flaticon-mortarboard"></i>
                      Master
                    </li>
                    <li>
                      <span>Add to bookmarks</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12 mix p">
        <div class="job-item">
          <a href="job-details.html">
            <div class="feature-top-right">
              <span>Featured</span>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-8">
                <div class="job-left">
                  <img src="assets/imgs/job/job4.png" alt="Brand" />
                  <h3>Tax Manager</h3>
                  <p>Techno Vino</p>
                  <ul>
                    <li>$450 - $1,250 /</li>
                    <li>month /</li>
                    <li>
                      <i class="flaticon-appointment"></i>
                      4 months ago
                    </li>
                    <li>
                      <i class="bx bx-location-plus"></i>
                      Vienna, Australia
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="job-right">
                  <ul>
                    <li>
                      <i class="flaticon-customer"></i>
                      Remote
                    </li>
                    <li>
                      <i class="flaticon-mortarboard"></i>
                      Master
                    </li>
                    <li>
                      <span>Add to bookmarks</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-12 mix u">
        <div class="job-item">
          <a href="job-details.html">
            <div class="feature-top-right">
              <span>Featured</span>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-8">
                <div class="job-left">
                  <img src="assets/imgs/job/job5.png" alt="Brand" />
                  <h3>Senior Data Engineer</h3>
                  <p>Jarmin Poin</p>
                  <ul>
                    <li>$700 - $1,500 /</li>
                    <li>month /</li>
                    <li>
                      <i class="flaticon-appointment"></i>
                      2 months ago
                    </li>
                    <li>
                      <i class="bx bx-location-plus"></i>
                      Tirana, Albania
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="job-right">
                  <ul>
                    <li>
                      <i class="flaticon-customer"></i>
                      Freelancer
                    </li>
                    <li>
                      <i class="flaticon-mortarboard"></i>
                      Master
                    </li>
                    <li>
                      <span>Add to bookmarks</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="job-browse">
      <p>
        {{ 'home.jobs.support-text' | translate }}
        <a routerLink="/jobs">{{ 'home.jobs.support-link' | translate }}</a>
      </p>
    </div>
  </div>
</section>
<!-- End Jobs -->

<!-- Explore -->
<section class="explore-area ptb-100">
  <div class="container">
    <div class="explore-item">
      <div class="section-title">
        <span class="sub-title">
          {{ 'home.resume.sub-heading' | translate }}
        </span>
        <h2>{{ 'home.resume.heading' | translate }}</h2>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut tur incidunt laborequaerat voluptatem.
      </p>
      <ul>
        <li>
          <a class="left-btn" href="#">
            {{ 'home.resume.button' | translate }}
            <i class="flaticon-upload"></i>
          </a>
        </li>
        <li>
          <span>{{ 'home.resume.button-video' | translate }}</span>
          <a
            class="right-btn popup-youtube"
            href="https://www.youtube.com/watch?v=07d2dXHYb94&t=88s"
          >
            <i class="bx bx-play"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End Explore -->

<!-- Blog -->
<section class="blog-area pt-100 pb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="section-title">
          <span class="sub-title">{{
            'home.blog.sub-heading' | translate
          }}</span>
          <h2>{{ 'home.blog.heading' | translate }}</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cmn-link">
          <a href="blog.html">
            <i class="flaticon-right-arrow one"></i>
            {{ 'home.blog.support-link' | translate }}
            <i class="flaticon-right-arrow two"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="blog-item">
          <div class="top">
            <a href="blog-details.html">
              <img src="assets/imgs/blog/blog1.jpg" alt="Blog" />
            </a>
          </div>
          <span>Job skills. 12-09-2024</span>
          <h3>
            <a href="blog-details.html"
              >The Internet Is A Job Seeker Most Crucial Success
            </a>
          </h3>
          <div class="cmn-link">
            <a href="blog-details.html">
              <i class="flaticon-right-arrow one"></i>
              {{ 'home.blog.link-blog' | translate }}
              <i class="flaticon-right-arrow two"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="blog-item">
          <div class="top">
            <a href="blog-details.html">
              <img src="assets/imgs/blog/blog2.jpg" alt="Blog" />
            </a>
          </div>
          <span>Career advice. 11-09-2024</span>
          <h3>
            <a href="blog-details.html"
              >Today From Connecting With Potential Employers</a
            >
          </h3>
          <div class="cmn-link">
            <a href="blog-details.html">
              <i class="flaticon-right-arrow one"></i>
              {{ 'home.blog.link-blog' | translate }}
              <i class="flaticon-right-arrow two"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
        <div class="blog-item">
          <div class="top">
            <a href="blog-details.html">
              <img src="assets/imgs/blog/blog3.jpg" alt="Blog" />
            </a>
          </div>
          <span>Future plan. 10-09-2024</span>
          <h3>
            <a href="blog-details.html"
              >We’ve Weeded Through Hundreds Of Job Hunting</a
            >
          </h3>
          <div class="cmn-link">
            <a href="blog-details.html">
              <i class="flaticon-right-arrow one"></i>
              {{ 'home.blog.link-blog' | translate }}
              <i class="flaticon-right-arrow two"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Blog -->

<!-- App -->
<section class="app-area ptb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="app-content">
          <div class="section-title">
            <span class="sub-title">
              {{ 'home.download.sub-heading' | translate }}
            </span>
            <h2>{{ 'home.download.heading' | translate }}</h2>
          </div>
          <ul>
            <li>
              <a href="#" target="_blank">
                <img src="assets/imgs/home/app1.png" alt="App" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="assets/imgs/home/app2.png" alt="App" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="app-img">
          <img src="assets/imgs/home/app4.png" alt="App" />
          <img src="assets/imgs/home/app3.png" alt="Shape" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End App -->
