<app-toast />

<!-- Banner -->
<div class="banner-area">
    <div class="banner-shape">
        <img src="assets/imgs/home/banner/shape-bottom.png" alt="Shape" />
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="banner-content">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h1>Find Thousand <span>Job</span> If You’re Ready To Get</h1>
                            <p>
                                We have 280,000+ live jobs adverts on our site, helping you to find any type of
                                job
                            </p>
                            <div class="banner-form-area">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>
                                                    <i class="bx bx-search"></i>
                                                </label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Search Your Job"
                                                />
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <select style="display: none;">
                                                    <option>All Categories</option>
                                                    <option>Another option</option>
                                                    <option>A option</option>
                                                    <option>Potato</option>
                                                </select>
                                                <div class="nice-select" tabindex="0"><span class="current">All Categories</span><ul class="list"><li data-value="All Categories" class="option selected">All Categories</li><li data-value="Another option" class="option">Another option</li><li data-value="A option" class="option">A option</li><li data-value="Potato" class="option">Potato</li></ul></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group two">
                                                <label>
                                                    <i class="bx bx-location-plus"></i>
                                                </label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    placeholder="Location"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn">
                                        Search Job
                                        <i class="bx bx-search"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="banner-key">
                                <ul>
                                    <li>
                                        <span>Trending Keywords</span>
                                    </li>
                                    <li>
                                        <a href="#">Account Manager,</a>
                                    </li>
                                    <li>
                                        <a href="#">Administrative,</a>
                                    </li>
                                    <li>
                                        <a href="#">Android,</a>
                                    </li>
                                    <li>
                                        <a href="#">Angular,</a>
                                    </li>
                                    <li>
                                        <a href="#">appASP.NET</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-img">
                    <img src="assets/imgs/home/banner/banner-main.jpg" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner1.png" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner3.png" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner4.png" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner5.png" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner6.png" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner7.png" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner8.png" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner9.png" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner10.jpg" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner11.png" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner12.png" alt="Shape" />
                    <img src="assets/imgs/home/banner/banner13.png" alt="Shape" />
                    <div class="inner">
                        <img src="assets/imgs/home/banner/banner2.png" alt="Shape" />
                        <p>Outsourcing all or part of your personnel management function can bring real</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Work -->
<section class="work-area pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Working Process</span>
            <h2>See How It Works</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="work-item">
                    <i class="flaticon-verify"></i>
                    <span>STEP 01</span>
                    <h3>Register An Account</h3>
                    <p>
                        Lorem ipsum dolor sit amet conscu adipiscing elit sed do eusmod tempor incididunt ut
                        into
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="work-item">
                    <i class="flaticon-file"></i>
                    <span>STEP 02</span>
                    <h3>Search Your Job</h3>
                    <p>
                        Lorem ipsum dolor sit amet conscu adipiscing elit sed do eusmod tempor incididunt ut
                        into
                    </p>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="work-item">
                    <i class="flaticon-comment"></i>
                    <span>STEP 03</span>
                    <h3>Apply For Job</h3>
                    <p>
                        Lorem ipsum dolor sit amet conscu adipiscing elit sed do eusmod tempor incididunt ut
                        into
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Work -->

<!-- Jobs -->
<section class="job-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="section-title">
                    <span class="sub-title">Desire Jobs</span>
                    <h2>Job You Will Love</h2>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="sorting-menu">
                    <ul>
                        <li class="filter" data-filter="all">All</li>
                        <li class="filter" data-filter=".m">Internship</li>
                        <li class="filter" data-filter=".n">Full Time</li>
                        <li class="filter" data-filter=".o">Part Time</li>
                        <li class="filter" data-filter=".p">Remote</li>
                        <li class="filter" data-filter=".u">Freelancer</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="container" class="row">
            <div class="col-sm-6 col-lg-12 mix n">
                <div class="job-item">
                    <a href="job-details.html">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="job-left">
                                    <img src="assets/imgs/job/job1.png" alt="Brand" />
                                    <h3>Product Designer</h3>
                                    <p>Digital Radio</p>
                                    <ul>
                                        <li>$500 - $1,000 /</li>
                                        <li>month /</li>
                                        <li>
                                            <i class="flaticon-appointment"></i>
                                            8 months ago
                                        </li>
                                        <li>
                                            <i class="bx bx-location-plus"></i>
                                            Seoul, South Korea
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="job-right">
                                    <ul>
                                        <li>
                                            <i class="flaticon-customer"></i>
                                            Full Time
                                        </li>
                                        <li>
                                            <i class="flaticon-mortarboard"></i>
                                            Master
                                        </li>
                                        <li>
                                            <span>Add to bookmarks</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12 mix o">
                <div class="job-item">
                    <a href="job-details.html">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="job-left">
                                    <img src="assets/imgs/job/job2.png" alt="Brand" />
                                    <h3>Construction Worker</h3>
                                    <p>Digital Vine</p>
                                    <ul>
                                        <li>$600 - $2,000 /</li>
                                        <li>month /</li>
                                        <li>
                                            <i class="flaticon-appointment"></i>
                                            6 months ago
                                        </li>
                                        <li>
                                            <i class="bx bx-location-plus"></i>
                                            Kabul, Afghanistan
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="job-right">
                                    <ul>
                                        <li>
                                            <i class="flaticon-customer"></i>
                                            Part Time
                                        </li>
                                        <li>
                                            <i class="flaticon-mortarboard"></i>
                                            Master
                                        </li>
                                        <li>
                                            <span>Add to bookmarks</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12 mix m">
                <div class="job-item">
                    <a href="job-details.html">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="job-left">
                                    <img src="assets/imgs/job/job3.png" alt="Brand" />
                                    <h3>Sr. Shopify Developer</h3>
                                    <p>Codex Info</p>
                                    <ul>
                                        <li>$400 - $1,500 /</li>
                                        <li>month /</li>
                                        <li>
                                            <i class="flaticon-appointment"></i>
                                            1 months ago
                                        </li>
                                        <li>
                                            <i class="bx bx-location-plus"></i>
                                            Buenos Aires, Argentina
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="job-right">
                                    <ul>
                                        <li>
                                            <i class="flaticon-customer"></i>
                                            Internship
                                        </li>
                                        <li>
                                            <i class="flaticon-mortarboard"></i>
                                            Master
                                        </li>
                                        <li>
                                            <span>Add to bookmarks</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12 mix p">
                <div class="job-item">
                    <a href="job-details.html">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="job-left">
                                    <img src="assets/imgs/job/job4.png" alt="Brand" />
                                    <h3>Tax Manager</h3>
                                    <p>Techno Vino</p>
                                    <ul>
                                        <li>$450 - $1,250 /</li>
                                        <li>month /</li>
                                        <li>
                                            <i class="flaticon-appointment"></i>
                                            4 months ago
                                        </li>
                                        <li>
                                            <i class="bx bx-location-plus"></i>
                                            Vienna, Australia
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="job-right">
                                    <ul>
                                        <li>
                                            <i class="flaticon-customer"></i>
                                            Remote
                                        </li>
                                        <li>
                                            <i class="flaticon-mortarboard"></i>
                                            Master
                                        </li>
                                        <li>
                                            <span>Add to bookmarks</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-12 mix u">
                <div class="job-item">
                    <a href="job-details.html">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="job-left">
                                    <img src="assets/imgs/job/job5.png" alt="Brand" />
                                    <h3>Senior Data Engineer</h3>
                                    <p>Jarmin Poin</p>
                                    <ul>
                                        <li>$700 - $1,500 /</li>
                                        <li>month /</li>
                                        <li>
                                            <i class="flaticon-appointment"></i>
                                            2 months ago
                                        </li>
                                        <li>
                                            <i class="bx bx-location-plus"></i>
                                            Tirana, Albania
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="job-right">
                                    <ul>
                                        <li>
                                            <i class="flaticon-customer"></i>
                                            Freelancer
                                        </li>
                                        <li>
                                            <i class="flaticon-mortarboard"></i>
                                            Master
                                        </li>
                                        <li>
                                            <span>Add to bookmarks</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="job-browse">
            <p>A tons of top tech jobs are waiting for you. <a href="jobs.html">Browse all jobs</a></p>
        </div>
    </div>
</section>
<!-- End Jobs -->

<!-- Explore -->
<section class="explore-area ptb-100">
    <div class="container">
        <div class="explore-item">
            <div class="section-title">
                <span class="sub-title">Explore New Life</span>
                <h2>Put Your Cv In Front Of Great Employers</h2>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                tur incidunt laborequaerat voluptatem.
            </p>
            <ul>
                <li>
                    <a class="left-btn" href="#">
                        Upload Your Resume
                        <i class="flaticon-upload"></i>
                    </a>
                </li>
                <li>
                    <span>CEO Message</span>
                    <a class="right-btn popup-youtube" href="https://www.youtube.com/watch?v=07d2dXHYb94&t=88s">
                        <i class="bx bx-play"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End Explore -->

<!-- Counter -->
<div class="counter-area pt-100">
    <div class="counter-shape">
        <img src="assets/imgs/home/banner/shape-bottom.png" alt="Shape" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-hiring"></i>
                    <p>CANDIDATES</p>
                    <h3>
                        <span class="odometer" data-count="87,360">00</span>
                    </h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-candidate"></i>
                    <p>TOTAL JOBS</p>
                    <h3>
                        <span class="odometer" data-count="45,257">00</span>
                    </h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-working-at-home"></i>
                    <p>EMPLOYERS</p>
                    <h3>
                        <span class="odometer" data-count="9,650">00</span>
                    </h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                    <i class="flaticon-choice"></i>
                    <p>JOB APPLICATIONS</p>
                    <h3>
                        <span class="odometer" data-count="70,299">00</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Counter -->

<!-- Location -->
<section class="location-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <span class="sub-title">Wanted Location</span>
                    <h2>The Places Near You</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cmn-link">
                    <a href="#">
                        <i class="flaticon-right-arrow one"></i>
                        Browse All Locations
                        <i class="flaticon-right-arrow two"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="location-slider owl-theme owl-carousel">
            <div class="location-item">
                <div class="top">
                    <a href="#">
                        <img src="assets/imgs/home/location1.jpg" alt="Location" />
                    </a>
                </div>
                <span>8 Open Job</span>
                <h3>
                    <a href="#">New York</a>
                </h3>
            </div>
            <div class="location-item">
                <div class="top">
                    <a href="#">
                        <img src="assets/imgs/home/location2.jpg" alt="Location" />
                    </a>
                </div>
                <span>6 Open Job</span>
                <h3>
                    <a href="#">Austria, Vienna</a>
                </h3>
            </div>
            <div class="location-item">
                <div class="top">
                    <a href="#">
                        <img src="assets/imgs/home/location3.jpg" alt="Location" />
                    </a>
                </div>
                <span>2 Open Job</span>
                <h3>
                    <a href="#">Tirana, Albania</a>
                </h3>
            </div>
            <div class="location-item">
                <div class="top">
                    <a href="#">
                        <img src="assets/imgs/home/location4.jpg" alt="Location" />
                    </a>
                </div>
                <span>4 Open Job</span>
                <h3>
                    <a href="#">Kabul, Afghanistan</a>
                </h3>
            </div>
            <div class="location-item">
                <div class="top">
                    <a href="#">
                        <img src="assets/imgs/home/location5.jpg" alt="Location" />
                    </a>
                </div>
                <span>3 Open Job</span>
                <h3>
                    <a href="#">Cardiff, UK</a>
                </h3>
            </div>
        </div>
    </div>
</section>
<!-- End Location -->

<!-- Feedback -->
<section class="feedback-area pt-100">
    <div class="feedback-shape">
        <img src="assets/imgs/home/banner/shape-bottom.png" alt="Shape" />
    </div>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Feedbacks</span>
            <h2>What Users Are Saying</h2>
        </div>
        <div class="feedback-slider owl-theme owl-carousel">
            <div class="feedback-item">
                <h3>Jubra Ward</h3>
                <span>CEO at Alfa School</span>
                <p>
                    “I’m ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniaxn ullamco laboris nisi ut at
                    voluptatem.
                </p>
                <h4>
                    <i class="flaticon-left-quote"></i>
                    Just Awesome
                </h4>
                <img src="assets/imgs/home/feedback1.jpg" alt="Feedback" />
            </div>
            <div class="feedback-item">
                <h3>Robin William</h3>
                <span>Manager Support Act It</span>
                <p>
                    “I’m ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniaxn ullamco laboris nisi ut at
                    voluptatem.
                </p>
                <h4>
                    <i class="flaticon-left-quote"></i>
                    Very Reliable
                </h4>
                <img src="assets/imgs/home/feedback2.jpg" alt="Feedback" />
            </div>
            <div class="feedback-item">
                <h3>Tom Henry</h3>
                <span>Director at Alfa School</span>
                <p>
                    “I’m ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniaxn ullamco laboris nisi ut at
                    voluptatem.
                </p>
                <h4>
                    <i class="flaticon-left-quote"></i>
                    Looking Nice
                </h4>
                <img src="assets/imgs/home/feedback3.jpg" alt="Feedback" />
            </div>
        </div>
    </div>
</section>
<!-- End Feedback -->

<!-- Blog -->
<section class="blog-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <span class="sub-title">Our Blogs</span>
                    <h2>Recent News Post</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cmn-link">
                    <a href="blog.html">
                        <i class="flaticon-right-arrow one"></i>
                        Browse All Blogs
                        <i class="flaticon-right-arrow two"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="top">
                        <a href="blog-details.html">
                            <img src="assets/imgs/blog/blog1.jpg" alt="Blog" />
                        </a>
                    </div>
                    <span>Job skills. 12-09-2024</span>
                    <h3>
                        <a href="blog-details.html">The Internet Is A Job Seeker Most Crucial Success </a>
                    </h3>
                    <div class="cmn-link">
                        <a href="blog-details.html">
                            <i class="flaticon-right-arrow one"></i>
                            Learn More
                            <i class="flaticon-right-arrow two"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="top">
                        <a href="blog-details.html">
                            <img src="assets/imgs/blog/blog2.jpg" alt="Blog" />
                        </a>
                    </div>
                    <span>Career advice. 11-09-2024</span>
                    <h3>
                        <a href="blog-details.html">Today From Connecting With Potential Employers</a>
                    </h3>
                    <div class="cmn-link">
                        <a href="blog-details.html">
                            <i class="flaticon-right-arrow one"></i>
                            Learn More
                            <i class="flaticon-right-arrow two"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="blog-item">
                    <div class="top">
                        <a href="blog-details.html">
                            <img src="assets/imgs/blog/blog3.jpg" alt="Blog" />
                        </a>
                    </div>
                    <span>Future plan. 10-09-2024</span>
                    <h3>
                        <a href="blog-details.html">We’ve Weeded Through Hundreds Of Job Hunting</a>
                    </h3>
                    <div class="cmn-link">
                        <a href="blog-details.html">
                            <i class="flaticon-right-arrow one"></i>
                            Learn More
                            <i class="flaticon-right-arrow two"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog -->

<!-- App -->
<section class="app-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="app-content">
                    <div class="section-title">
                        <span class="sub-title">Download The App</span>
                        <h2>Get More In Our Application Sit Back And Enjoy</h2>
                    </div>
                    <ul>
                        <li>
                            <a href="#" target="_blank">
                                <img src="assets/imgs/home/app1.png" alt="App" />
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <img src="assets/imgs/home/app2.png" alt="App" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="app-img">
                    <img src="assets/imgs/home/app4.png" alt="App" />
                    <img src="assets/imgs/home/app3.png" alt="Shape" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End App -->