<!-- ? Banner -->
<div class="page-title-area two">
    <app-banner>
        <app-banner-detail>
            <div class="left" ngProjectAs="left-content">
                <img [src]="job().ownerAvatarUrl" [alt]="job().title" class="owner-avt">
                <h2>{{ job().title }}</h2>
                <ul>
                    <li>
                        <i class='bx bx-pie-chart-alt-2'></i>
                        {{ job().industry.industryName }}
                    </li>
                    <li>
                        <i class='bx bx-time'></i>
                        Posted date: {{ job().createdAt | date: 'fullDate' }}
                    </li>
                </ul>
            </div>
            <div class="right" ngProjectAs="right-content">
                <app-button-icon [title]="'navbar.post-job' | translate" icon="bx bx-plus"/>
                <ul>
                  <li>
                      <a href="#">
                          <i class='bx bx-heart'></i>
                          {{ 'job-detail.save' | translate }}
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class='bx bx-share-alt'></i>
                          {{ 'job-detail.share' | translate }}
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class='bx bxs-report'></i>
                          {{ 'job-detail.report' | translate }}
                      </a>
                  </li>
                </ul>
            </div>
        </app-banner-detail>
    </app-banner>
</div>
<!-- ? End Banner -->

<!-- ? Job Details -->
<div class="job-details-area ptb-100">
  <app-grid-layout>
    <div ngProjectAs="leftContainer">
      <div class="details-item">
        <div class="details-inner">
            <h3>Job Description</h3>
            <p>{{ job().description }}</p>
        </div>
        <div class="details-inner">
            <h3>Our Company</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
        </div>
        <div class="details-inner">
            <h3>Job Responsibilities</h3>
            <ul>
                <li>
                    <i class='bx bx-message-square-check'></i>
                    They want to know that you weren’t lying on your resume about responsibilities.
                </li>
                <li>
                    <i class='bx bx-message-square-check'></i>
                    They want to check if your job responsibilities overlap with the role on offer.
                </li>
                <li>
                    <i class='bx bx-message-square-check'></i>
                    They want to put you at ease. Let’s face it. It’s an easy question.
                </li>
                <li>
                    <i class='bx bx-message-square-check'></i>
                    They want you to expand on the points that you included in your resume.
                </li>
  
                <li>
                    <i class='bx bx-message-square-check'></i>
                    They want to put you at ease. Let’s face it. It’s an easy question.
                </li>
                <li>
                    <i class='bx bx-message-square-check'></i>
                    They want to check if your job responsibilities overlap with the role on offer.
                </li>
                <li>
                    <i class='bx bx-message-square-check'></i>
                    Want you to expand on the points that you included in your resume.
                </li>
            </ul>
        </div>
        <div class="details-inner">
            <h3>Job Responsibilities</h3>
            <ul>
                <li>
                    <i class='bx bx-message-square-check'></i>
                    Ability to work under pressure
                </li>
                <li>
                    <i class='bx bx-message-square-check'></i>
                    Enterprise and entrepreneurial skills
                </li>
                <li>
                    <i class='bx bx-message-square-check'></i>
                    Negotiation and persuasion
                </li>
                <li>
                    <i class='bx bx-message-square-check'></i>
                    Understand where the other person is coming from so that you can both get what
                </li>
            </ul>
        </div>
        <div class="details-inner">
            <h3>Our Mission</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="details-inner">
            <h3>Our Vision</h3>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true.</p>
        </div>
    </div>
    </div>
    <div ngProjectAs="rightContainer">
      <div class="widget-area">
        <!-- ? Job Alert -->
        <app-job-alert />
        <!-- ? Job Information -->
        <div class="information widget-item">
            <h3>{{ 'job-detail.job-information.title' | translate }}</h3>
            <ul>
                <li>
                    <img src="assets/imgs/job/job-details-icon.png" alt="Details">
                    <h4>{{ 'job-detail.job-information.fee' | translate }}</h4>
                    <span>{{ job().fee }}</span>
                </li>
                <li>
                    <img src="assets/imgs/job/job-details-icon.png" alt="Details">
                    <h4>{{ 'job-detail.job-information.industry' | translate }}</h4>
                    <span>{{ job().industry.industryName }}</span>
                </li>
                <li>
                    <img src="assets/imgs/job/job-details-icon.png" alt="Details">
                    <h4>{{ 'job-detail.job-information.category' | translate }}</h4>
                    <span>{{ job().category.categoryName }}</span>
                </li>
                <li>
                    <img src="assets/imgs/job/job-details-icon.png" alt="Details">
                    <h4>{{ 'job-detail.location' | translate }}</h4>
                    <span>{{ job().ward.fullLocation }}</span>
                </li>
                <li>
                    <img src="assets/imgs/job/job-details-icon.png" alt="Details">
                    <h4>{{ 'job-detail.job-information.posted-date' | translate }}</h4>
                    <span>{{ job().createdAt | date: 'fullDate' }}</span>
                </li>
                <li>
                    <img src="assets/imgs/job/job-details-icon.png" alt="Details">
                    <h4>{{ 'job-detail.job-information.applied' | translate }}</h4>
                    <span>{{ job().totalApplicants }} {{ 'job-detail.job-information.applicants' | translate }}</span>
                </li>
            </ul>
        </div>
        <div class="owner">
            <div class="top">
                <img src="assets/imgs/job/job4.png" alt="Owner">
                <h3>{{ 'job-detail.owner-information.title' | translate }}</h3>
                <span>{{ job().ownerName }}</span>
            </div>
            <div class="information widget-item">
                <ul>
                    <li>
                        <img src="assets/imgs/job/job-details-icon.png" alt="Details">
                        <h4>{{ 'job-detail.owner-information.phone' | translate }}</h4>
                        <a [href]="'tel:' + job().userId">{{ job().userId }}</a>
                    </li>
                    <li>
                        <img src="assets/imgs/job/job-details-icon.png" alt="Details">
                        <h4>{{ 'job-detail.owner-information.email' | translate }}</h4>
                        <a [href]="'mailto:' + job().userId">{{ job().userId }}</a>
                    </li>
                    <li>
                        <img src="assets/imgs/job/job-details-icon.png" alt="Details">
                        <h4>{{ 'job-detail.location' | translate }}</h4>
                        <p>{{ job().userId }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
  </app-grid-layout>
</div>
<!-- ? End Job Details -->

<!-- ? Related Job -->
<div class="job-details-related pt-100 pb-70">
  <div class="container">
      <div class="section-title">
          <h2>{{ 'job-detail.related' | translate }}</h2>
      </div>
      @for (job of job().relatedJobPosts; track job.id) {
        <app-job-post [job]="job"/>
      }
  </div>
</div>
<!-- ? End Related Job -->