.owner-avt {
  width: 150px;
  height: 150px;
}

.paragraph {
  margin-bottom: 0;
  cursor: pointer;
  user-select: none;
  transition: color linear 0.3s;
}

.anchor {
  color: #5f5656;
  transition: color linear 0.3s;
}

.paragraph:hover,
.anchor:hover {
  color: #fe4a55;
}