<footer class="footer-area three pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="footer-item three">
          <div class="footer-logo">
            <a class="logo" href="#!">
              <img
                width="154"
                height="65"
                src="assets/imgs/logo-1.png"
                alt="Logo"
                style="
                  filter: brightness(0) saturate(100%) invert(41%) sepia(75%)
                    saturate(3549%) hue-rotate(332deg) brightness(107%)
                    contrast(100%);
                "
              />
            </a>
            <ul>
              <li>
                <span>{{ 'footer.information.address' | translate }}</span>
                FPT University, Quy Nhon, Binh Dinh
              </li>
              <li>
                <span>{{ 'footer.information.message' | translate }}</span>
                timeswap&#x40;contact.com
              </li>
              <li>
                <span>{{ 'footer.information.phone' | translate }}</span>
                <a href="tel:+84398973408">&nbsp;123 - 456 - 7890</a>
              </li>
              <li>
                <span>{{ 'footer.information.open' | translate }}</span>
                {{ 'footer.information.mon-fri' | translate }}
                / 9:00 AM - 6:00PM
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-item three">
          <div class="footer-service">
            <h3>{{ 'footer.header.our-services' | translate }}</h3>
            <ul>
              <li>
                <a routerLink="/coming-soon">
                  {{ 'footer.privacy' | translate }}
                </a>
              </li>
              <li>
                <a routerLink="/about">{{ 'navbar.about' | translate }}</a>
              </li>
              <li>
                <a routerLink="/jobs">{{ 'navbar.jobs' | translate }}</a>
              </li>
              <li>
                <a routerLink="/coming-soon">{{ 'navbar.blog' | translate }}</a>
              </li>
              <li>
                <a routerLink="/contact">{{ 'navbar.contact' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="footer-item three">
          <div class="footer-service">
            <h3>{{ 'footer.header.useful-links' | translate }}</h3>
            <ul>
              <li>
                <a routerLink="/coming-soon">
                  {{ 'footer.privacy' | translate }}
                </a>
              </li>
              <li>
                <a routerLink="/about">{{ 'navbar.about' | translate }}</a>
              </li>
              <li>
                <a routerLink="/jobs">{{ 'navbar.jobs' | translate }}</a>
              </li>
              <li>
                <a routerLink="/coming-soon">{{ 'navbar.blog' | translate }}</a>
              </li>
              <li>
                <a routerLink="/contact">{{ 'navbar.contact' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="footer-item three">
          <div class="footer-newsletter">
            <h3>{{ 'footer.header.contact.title' | translate }}</h3>
            <p>{{ 'footer.header.contact.sub-title' | translate }}</p>
            <form class="newsletter-form" data-toggle="validator">
              <input
                type="email"
                class="form-control"
                [placeholder]="'footer.header.contact.placeholder' | translate"
                name="EMAIL"
                required
                autocomplete="off"
              />

              <button class="btn" type="submit">
                <i class="flaticon-send"></i>
              </button>
              <div id="validator-newsletter" class="form-result"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright-area three">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="copyright-item">
          <ul>
            <li>
              <a href="#" target="_blank">
                <i class="bx bxl-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bx bxl-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bx bxl-linkedin-square"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bx bxl-pinterest-alt"></i>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="bx bxl-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="copyright-item">
          <p>
            Copyright TimeSwap. Designed By
            <a href="#!" target="_blank">TimeSwap</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
