@if (isLoading()) {
    <app-loader />
}

<app-banner>
  <app-breadcrumb title="About"/>
</app-banner>

<!-- New -->
<div class="new-area pt-100 pb-70">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="new-img">
                  <img src="assets/img/about.jpg" alt="New">
                  <img src="assets/img/about-shape.png" alt="New">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-content">
                  <div class="section-title">
                      <span class="sub-title">Explore New Life</span>
                      <h2>We Are A Team Of Experts In This Field</h2>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut tur incidunt laborequaerat voluptatem.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                  <a class="cmn-btn" href="#">
                      Get Started
                      <i class='bx bx-plus'></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End New -->

<!-- Counter -->
<div class="counter-area two pt-100">
  <div class="counter-shape">
      <img src="assets/img/home-one/banner/shape-bottom.png" alt="Shape">
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-lg-3">
              <div class="counter-item">
                  <i class="flaticon-hiring"></i>
                  <p>CANDIDATES</p>
                  <h3>
                      <span class="odometer" data-count="87,360">00</span> 
                  </h3>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3">
              <div class="counter-item">
                  <i class="flaticon-candidate"></i>
                  <p>TOTAL JOBS</p>
                  <h3>
                      <span class="odometer" data-count="45,257">00</span> 
                  </h3>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3">
              <div class="counter-item">
                  <i class="flaticon-working-at-home"></i>
                  <p>EMPLOYERS</p>
                  <h3>
                      <span class="odometer" data-count="9,650">00</span> 
                  </h3>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3">
              <div class="counter-item">
                  <i class="flaticon-choice"></i>
                  <p>JOB APPLICATIONS</p>
                  <h3>
                      <span class="odometer" data-count="70,299">00</span> 
                  </h3>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Counter -->

<!-- Work -->
<section class="work-area pb-70">
  <div class="container">
      <div class="section-title">
          <span class="sub-title">Our Possibilities</span>
          <h2>Our Company Possibilities</h2>
      </div>
      <div class="row">
          <div class="col-sm-6 col-lg-4">
              <div class="work-item">
                  <i class="flaticon-verify"></i>
                  <span>01</span>
                  <h3>Excellence</h3>
                  <p>Lorem ipsum dolor sit amet conscu adipiscing elit sed do eusmod tempor incididunt ut into</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="work-item">
                  <i class="flaticon-file"></i>
                  <span>02</span>
                  <h3>Adaptability</h3>
                  <p>Lorem ipsum dolor sit amet conscu adipiscing elit sed do eusmod tempor incididunt ut into</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="work-item">
                  <i class="flaticon-comment"></i>
                  <span>03</span>
                  <h3>Integrity</h3>
                  <p>Lorem ipsum dolor sit amet conscu adipiscing elit sed do eusmod tempor incididunt ut into</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="work-item">
                  <i class="flaticon-comment"></i>
                  <span>04</span>
                  <h3>Knowledge</h3>
                  <p>Lorem ipsum dolor sit amet conscu adipiscing elit sed do eusmod tempor incididunt ut into</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="work-item">
                  <i class="flaticon-comment"></i>
                  <span>05</span>
                  <h3>The Passion</h3>
                  <p>Lorem ipsum dolor sit amet conscu adipiscing elit sed do eusmod tempor incididunt ut into</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="work-item">
                  <i class="flaticon-comment"></i>
                  <span>06</span>
                  <h3>Innovation</h3>
                  <p>Lorem ipsum dolor sit amet conscu adipiscing elit sed do eusmod tempor incididunt ut into</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Work -->

<!-- Explore -->
<section class="explore-area ptb-100">
  <div class="container">
      <div class="explore-item">
          <div class="section-title">
              <span class="sub-title">Explore New Life</span>
              <h2>Be Found Put Your Cv In Front Of Great Employers</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut tur incidunt laborequaerat voluptatem.</p>
          <ul>
              <li>
                  <a class="left-btn" href="#">
                      Upload Your Resume
                      <i class="flaticon-upload"></i>
                  </a>
              </li>
              <li>
                  <span>CEO Message</span>
                  <a class="right-btn popup-youtube" href="https://www.youtube.com/watch?v=07d2dXHYb94&t=88s">
                      <i class='bx bx-play'></i>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</section>
<!-- End Explore -->

<!-- Candidate -->
<section class="candidate-area two ptb-100">
  <div class="container">
      <div class="section-title">
          <span class="sub-title">Working Process</span>
          <h2>Leadership Team</h2>
      </div>
      <div class="candidate-slider owl-theme owl-carousel">
          <div class="candidate-item">
              <div class="left">
                  <h3>
                      <a href="candidate-details.html">Arielle Terry</a>
                  </h3>
                  <span>Web Developer</span>
                  <p>I’m IRanin dolor sit amet conscu adiing elitsed eusmod tempor</p>
                  <ul>
                      <li>Php</li>
                      <li>jQuery</li>
                      <li>WordPress</li>
                      <li>CSS3</li>
                      <li>HTML5</li>
                  </ul>
                  <div class="cmn-link">
                      <a href="single-resume.html">
                          <i class="flaticon-right-arrow one"></i>
                          View Resume
                          <i class="flaticon-right-arrow two"></i>
                      </a>
                  </div>
              </div>
              <img src="assets/img/home-two/candidate1.jpg" alt="Candidate">
          </div>
          <div class="candidate-item">
              <div class="left">
                  <h3>
                      <a href="candidate-details.html">Alexander Max</a>
                  </h3>
                  <span>Senior UX/UI Designer</span>
                  <p>I’m Max dolor sit amet conscu adiing elitsed eusmod tempor</p>
                  <ul>
                      <li>CSS</li>
                      <li>Creative</li>
                      <li>Photoshop</li>
                      <li>Illustrator</li>
                      <li>HTML5</li>
                  </ul>
                  <div class="cmn-link">
                      <a href="single-resume.html">
                          <i class="flaticon-right-arrow one"></i>
                          View Resume
                          <i class="flaticon-right-arrow two"></i>
                      </a>
                  </div>
              </div>
              <img src="assets/img/home-two/candidate2.jpg" alt="Candidate">
          </div>
          <div class="candidate-item">
              <div class="left">
                  <h3>
                      <a href="candidate-details.html">Tom Henry</a>
                  </h3>
                  <span>SEO</span>
                  <p>I’m Max dolor sit amet conscu adiing elitsed eusmod tempor</p>
                  <ul>
                      <li>CSS</li>
                      <li>Creative</li>
                      <li>Photoshop</li>
                      <li>Illustrator</li>
                      <li>HTML5</li>
                  </ul>
                  <div class="cmn-link">
                      <a href="single-resume.html">
                          <i class="flaticon-right-arrow one"></i>
                          View Resume
                          <i class="flaticon-right-arrow two"></i>
                      </a>
                  </div>
              </div>
              <img src="assets/img/home-two/candidate3.jpg" alt="Candidate">
          </div>
      </div>
  </div>
</section>
<!-- End Candidate -->